@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

html {
    font-family: 'BIZ UDGothic', sans-serif;
    color: white;
    overflow: hidden;
    /*
    background: linear-gradient(45deg, black, #640000);
    */
    background: black;
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
    animation: fadein 3s;
}


h1 {
    padding: 2%;
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: inherit;
} 

img {
    max-width: 70%;
    max-height: 70%;
}

.flexItem {
    font-size: xx-large;
    padding: 2%;
}

.linkDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

#footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
}

#imageDiv {
    text-align: center;
    animation: bigger 8s ease infinite;
}

@media screen and (max-height: 600px) {
    #imageDiv {
        display: none;
    };
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bigger {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

